*{
    transition: all 0.1s ease;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: #252B42;
    color: #FFFFFF !important;

}
header{
    width: 100%;
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#nav-bg{
    background-color: #252b4294;
}

#social .fab{
    font-size: 2rem;
}

#social .fab:hover{
    color: #8fc5ff !important;
}

#navbar-toggle{
    background-image: initial;
    width: initial;
    height: initial;
    vertical-align: middle;
}

#navbar-toggle .fa-bars{
    font-size: 1.5rem !important;
}

#navbar-toggle-button{
    font-family: revert;
}

.nav-link:hover{
    color: #8fc5ff !important;
}

#hero{
    padding: 11rem 0;
}

#hero h1{
    font-size: 4.5rem;
}

#hero p{
    font-size: 1.5rem;
}

#hero a{
    border-radius: 2rem;
    color: #2091F9;
    text-decoration: none !important;
    font-weight: 700;
}

#hero a:hover{
    background-color: #2091F9 !important;
    color: #FFFFFF;

}

/*========== Features ============*/


#feature-row h3{
    font-size: 1.5rem;
    font-weight: 700;
}

/*========== Features ============*/


#fastest a, #testimonial a{
    background-color: #2091F9 !important;
    font-weight: 700;
    border-radius: 2rem;
    text-decoration: none !important;
}

#fastest a:hover{
    color: #2091F9 !important;
    background-color: #FFFFFF !important;
}

/*========== Features ============*/

#video iframe{
    height:460px;
}

/*========== Lightning fast ============*/

#lightning form>button{
    background-color: #2091F9 !important;
    font-weight: 700;
    border-radius: 2rem;
    border: none;
}

#lightning form>button:hover{
    color: #2091F9 !important;
    background-color: #FFFFFF !important;
}

#lightning form>button:focus{
    border: none !important;
    outline: none !important;
}

#lightning form>input{
    border: none !important;
    outline: none !important;
    margin: 0 1rem 0 0 !important;
    border-radius: 2rem !important;
    padding: 0 0 0 1.5rem;
    font-weight: 700;
}

#lightning form>input:focus{
    border: none !important;
    outline: none !important;
}

#testimonial{
    background-color: initial;
}






















@media only screen and (max-width: 1199px)  and (min-width: 992px) {
    #social{
        margin-top:1.2rem;
    }

    #hero{
        width: 80% !important;
    }

    #hero h1{
        font-size: 4rem;
    }

    #video iframe {
        height: 385px;
    }
}

@media only screen and (max-width: 991px) {
    #social{
        margin-top:1.2rem;
    }

    #hero{
        width: 100% !important;
    }

    #hero h1{
        font-size: 4rem;
    }

    #video iframe {
        height: 385px;
    }

    #testi-big-p{
        padding: 0 !important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 577px) {
    #social{
        margin-top:1.2rem;
    }
    #hero h1{
        font-size: 3rem;
    }
    
    #hero {
        padding: 8rem 0;
    }
    #video iframe {
        height: 285px;
    }

    #testi-big-p{
        padding: 0 !important;
    }
}

@media only screen and (max-width: 576px) and (min-width: 400px) {
    #social{
        margin-top:1.2rem;
    }
    #hero h1{
        font-size: 3rem;
    }
    
    #hero {
        padding: 8rem 0;
    }
    #video iframe {
        height: 277px;
        margin: -10px;
    }

    #lightning form{
        flex-direction: column;
    }

    #lightning form>input{
        padding: 0.5rem 2rem;
        margin: 0 0 1rem 0 !important;
    }
    
    #testi-big-p{
        padding: 0 !important;
    }
}

@media only screen and (max-width: 399px){
    #social{
        margin-top:1.2rem;
    }
    #hero h1{
        font-size: 3rem;
    }
    
    #hero {
        padding: 8rem 0;
    }
    #video iframe {
        height: 184px;
    }

    #lightning form{
        flex-direction: column;
    }

    #lightning form>input{
        padding: 0.5rem 2rem;
        margin: 0 0 1rem 0 !important;
    }
    
    #testi-big-p{
        padding: 0 !important;
    }
}



