
body{
    font-family: 'PT Sans', sans-serif;
    background-color: #252B42;
    color: #FFFFFF !important;

}
header{
    width: 100%;
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#social .fab{
    font-size: 2rem;
}

#navbar-toggle{
    background-image: initial;
    width: initial;
    height: initial;
    vertical-align: middle;
}

#navbar-toggle .fa-bars{
    font-size: 1.5rem !important;
}

#navbar-toggle-button{
    font-family: revert;
}

@media only screen and (max-width: 991px) {
    #social{
        margin-top:1.2rem;
    }
}